# Pandas Python and Numpy basic operations

In [2]:
import pandas as pd
import numpy as np

## Numpay vector and matrix

### Creating a numpy vector (array)

In [33]:
np.ones(3)

array([1., 1., 1.])

In [34]:
np.zeros(3)

array([0., 0., 0.])

In [26]:
v = np.array([1, 2, 3, 4])

print(v)
v.size # size of the vector, could be np.size(v)

[1 2 3 4]

4

In [27]:
A = np.matrix('1 2 3; 4 5 6; 7 8 9')
print(A)
A.shape # dimensions of the matrix, could be np.shape(A)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

(3, 3)

## Pandas Data Manipulation

## DataFrames

### Loading data

In [46]:
df = pd.read_csv('ex1data1.txt')
df.head()

   6.1101   17.592
0  5.5277   9.1302
1  8.5186  13.6620
2  7.0032  11.8540
3  5.8598   6.8233
4  8.3829  11.8860